src/main/resources/sympa-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema targetNamespace="sympa-schema.xsd"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
    <import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/"/>

    <complexType name="ArrayOfLists">
        <complexContent>
            <restriction base="SOAP-ENC:Array">
                <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:listType[]"/>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="ArrayOfUsers">
        <complexContent>
            <restriction base="SOAP-ENC:Array">
                <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:userType[]"/>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="ArrayOfString">
        <complexContent>
            <restriction base="SOAP-ENC:Array">
                <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="bounce">
        <all>
            <element name="firstBounceDate"  minOccurs="0"  type="int"/>
            <element name="lastBounceDate"  minOccurs="0"  type="int"/>
            <element name="bounceCount"  minOccurs="1"  type="int"/>
            <element name="bounceScore" minOccurs="1"  type="int"/>
        </all>
    </complexType>

    <complexType name="listType">
        <all>
            <element name="listAddress" minOccurs="1" type="string"/>
            <element name="homepage" minOccurs="0" type="string"/>
            <element name="isSubscriber" minOccurs="0" type="boolean"/>
            <element name="isOwner" minOccurs="0" type="boolean"/>
            <element name="isEditor" minOccurs="0" type="boolean"/>
            <element name="subject" minOccurs="0" type="string"/>
            <element name="firstBounceDate"  minOccurs="0"  type="int"/>
            <element name="lastBounceDate"  minOccurs="0"  type="int"/>
            <element name="bounceCount"  minOccurs="0"  type="int"/>
            <element name="bounceCode" minOccurs="0"  type="string"/>
            <element name="bounceScore" minOccurs="0"  type="int"/>
        </all>
    </complexType>

    <complexType name="userType">
        <all>
            <element name="email" minOccurs="1" type="string"/>
            <element name="gecos" minOccurs="0" type="string"/>
            <element name="isSubscriber" minOccurs="0" type="boolean"/>
            <element name="isOwner" minOccurs="0" type="boolean"/>
            <element name="isEditor" minOccurs="0" type="boolean"/>
        </all>
    </complexType>
</schema>